@page
@model TasteTracker.Pages.Recipes.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <h2 class="fw-bold mb-2 text-uppercase">Delete</h2>
                        <p class="text-white-50 mb-4">Are you sure you want to delete this?</p>

                        <div class="text-start">
                            <h4 class="text-uppercase text-white-50 mb-3">RecipeItem</h4>
                            <hr class="text-white-50">
                            <dl class="row">
                                <dt class="col-sm-4">Name</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(model => model.RecipeItem.Name)</dd>

                                <dt class="col-sm-4">Description</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(model => model.RecipeItem.Description)</dd>

                                <dt class="col-sm-4">Ingredients</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(model => model.RecipeItem.Ingredients)</dd>

                                <dt class="col-sm-4">Instructions</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(model => model.RecipeItem.Instructions)</dd>
                            </dl>
                        </div>

                        <form method="post" class="mt-4">
                            <input type="hidden" asp-for="RecipeItem.Id" />
                            <button type="submit" class="btn btn-danger btn-lg px-4 me-3">Delete</button>
                            <a asp-page="./Index" class="btn btn-outline-light btn-lg px-4">Back to List</a>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
